body{
    background-color:azure;
    color:#000000; 
    font-size:150%;
    font-family: Helvetica, sans-serif;
  
}


/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 10px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
a:link{
    text-decoration:none


}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px

nav ul li a {
	
   padding: 10px; 
   color: #FFFFFF;
   font-size: 100%;
   font-family: sans-serif;
   text-decoration: none;
   display: block;
   }
   

ul{list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(180,50%,60%);
}

li {
  float:left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  
}

li a:hover {
    background-color:blue;
   }
   ¹
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

