body{                                       background-color:Azure;
font-size:12;                               } 

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;                           background-color: hsl(80,0%,50%);
} 

li a:hover {                                  background-color:gray;
  color:purple;
  }
